/*****************************************************************************
List
******************************************************************************/
.list
{
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	height:15px;
	text-decoration:none;
	display:inline-block;
	font-size:12px;
}

/*****************************************************************************
Check
******************************************************************************/
.check
{
	width:20px;
	margin:0;
}

/*****************************************************************************
Header
******************************************************************************/
.header
{
	border:1px solid black;
	color:white;
	width:100px;
	margin:0;
}

/*****************************************************************************
Course
******************************************************************************/
.course
{
	border:1px solid black;
	width:100px;
	margin:0;
}

/*****************************************************************************
Credits
******************************************************************************/
.credit
{
	border:1px solid black;
	width:50px;
	margin:0;
}

/*****************************************************************************
Grade
******************************************************************************/
.grade
{
	border:1px solid black;
	width:40px;
	margin:0;
}

/*****************************************************************************
Dropdown
******************************************************************************/
.dropdown
{
	
	border:1px solid black;
	width:50px;
	height:25px;
	margin:0;
	
}

/*****************************************************************************
Total
******************************************************************************/
.total
{
	border:1px solid black;
	color:white;
}

/*****************************************************************************
Links
******************************************************************************/
.link
{
	border:none;
	margin:4px 2 px;
	color:white;
	width:150px;
	text-align:center;
	cursor:pointer;
}

/*****************************************************************************
Hover
******************************************************************************/
a:hover
{
	border:1px solid black;
	
}

/*****************************************************************************
Background Colors
******************************************************************************/

.CSC {background-color:rgb(0, 153, 204);}
.MATH{background-color:rgb(51, 102, 255);}
.SCI {background-color:rgb(153, 102, 255);}
.GEN {background-color:rgb(204, 0, 0);}
.ENGL {background-color:rgb(0, 153, 51);}
.FREE {background-color:rgb(255, 153, 0);}

.csc {background-color:rgba(0, 153, 204, .25);}
.math {background-color:rgba(51, 102, 255, .25);}
.sci {background-color:rgba(153, 102, 255, .25);}
.gen {background-color:rgba(204, 0, 0, .25);}
.engl {background-color:rgba(0, 153, 51, .25);}
.free {background-color:rgba(255, 153, 0, .25);}